input {
    margin-bottom: 8px;
    border-radius: 4px;
    border-bottom: 1px solid black;
}

input[type=text]{
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}

input[type=number]{
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}

input[list=candidatos]{
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}

fieldset{
    background-color: whitesmoke;
    border-color: rgba(0, 0, 0, 0.801);
    text-align: center;
    border-style: double;
    border-width: 5px;
}
.confirmar {
    background-color: rgb(5, 167, 54);
    height: 30px;
}
.cancela{
    background-color: rgb(241, 23, 23);
    height: 30px;
}
.branco{
    background-color: white;
    height: 30px;
}

legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}